* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 16px;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-size: 16px;
}

ul,
li {
  list-style-type: none;
  padding: 0;
}

.item-container .item {
  margin-bottom: 24px;
}

.item {
  background-color: #f6f6fe;
  border-radius: 8px;
  max-width: 392px;
  padding: 16px;
  margin-bottom: 24px;
  margin: 0 auto;
}

.item-title {
  font-size: 24px;
  line-height: 1.33333;
  margin-top: 0;
}

.item-list li {
  border: 1px solid #808080;
  border-radius: 4px;
  max-width: 360px;
  padding: 8px 16px;
  margin-bottom: 8px;
}

.item-list li:last-child {
  margin-bottom: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
  box-sizing: border-box;
}

.gallery-img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  border-radius: 0;
}

.text-input {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
}

.text-input::placeholder {
  color: #2e2f42;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.input-label input {
  margin-top: 8px;
}

.input-area {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  display: block;
  margin-bottom: 8px;
}

.submit-btn {
  font-family: 'Montserrat', sans-serif;
  background-color: #4e75ff;
  border-radius: 8px;
  border: none;
  margin-top: 8px;
  width: 86px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  text-align: center;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #6c8cff;
}
